# Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Environment and development settings
.env
*.env

# Flask instance folder
instance/

# Flask cache files
*.log
*.pid
*.bak
*.swp
*.sqlite3
*.db

# Pytest cache and test results
.pytest_cache/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover

# Virtual environment
venv/
ENV/
env/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
